@model IEnumerable<ThietBiDienTu.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<div class="w3-row">
    <h1>DANH SÁCH KHÁCH HÀNG</h1>
    <a class="w3-right w3-big w3-btn w3-round w3-border w3-teal" asp-action="Create">Thêm mới</a>
</div>
<hr>
<table class="w3-container w3-table w3-striped w3-border w3-centered test w3-hoverable">
    <thead>
        <tr class="w3-teal">
            <th>Mã Khách Hàng</th>
            <th>Tên Khách Hàng</th>
            <th>Địa Chỉ</th>
            <th>Số điện thoại</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaKH">Chỉnh sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.MaKH">Xem</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaKH">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>