@model IEnumerable<ThietBiDienTu.Models.XuatKho>

@{
    ViewData["Title"] = "Index";
}
<div class="w3-row">
    <h1>DANH SÁCH HÀNG XUẤT KHO</h1>
    <a class="w3-right w3-big w3-btn w3-round w3-border w3-teal" asp-action="Create">Xuất hàng</a>
</div>
<hr>
<table class="w3-container w3-table w3-striped w3-border w3-centered test w3-hoverable">
    <thead>
        <tr class="w3-teal">
            <th>Mã Hàng</th>
            <th>Tên Hàng</th>
            <th>Mã NCC</th>
            <th>Tên NCC</th>
            <th>Mã Xuất Kho</th>
            <th>Ngày Xuất Kho</th>
            <th>Trạng Thái</th>
            <th>Khách Hàng</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HangHoa.MaHH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.MaNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaXuatKho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayXuatKho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.MaKH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHH">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaHH">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHH">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>