@model IEnumerable<ThietBiDienTu.Models.XuatKho>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HangHoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhaCungCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaXuatKho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayXuatKho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HangHoa.MaHH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.MaNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaXuatKho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayXuatKho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.MaKH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHH">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHH">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHH">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
