@model ThietBiDienTu.Models.HangHoa

@{
    ViewData["Title"] = "Delete";
}
<div class="w3-row">
    <h1>XÓA MẶT HÀNG</h1>
</div>
<hr>
<div class="max-width-40 ud-center">
    <div class="w3-container w3-teal">
        <h2>Bạn có chắc chắn muốn xóa măt hàng này không?</h2>
    </div>
    <form asp-action="Delete" class="w3-container w3-card-4 w3-padding">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="w3-row">
            <dl class="row">
                <dt class="col-sm-2">
                    Mã hàng:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaHH)
                </dd>
                <dt class="col-sm-2">
                    Tên hàng:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TenHH)
                </dd>
                <dt class="col-sm-2">
                    Hãng Sản xuất:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HangSX)
                </dd>
                <dt class="col-sm-2">
                    Xuất xứ:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.XuatXu)
                </dd>
                <dt class="col-sm-2">
                    Đơn giá:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DonGia)
                </dd>
            </dl>
        </div>
        <div class="w3-margin-top">
            <input type="hidden" asp-for="MaHH" />
            <input type="submit" value="Xóa" class="btn btn-danger  w3-border w3-teal" /> |
            <a asp-action="Index" class="btn btn-danger w3-border w3-teal">Trở lại</a>
        </div>
    </form>
</div>