@model IEnumerable<ThietBiDienTu.Models.HangHoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangSX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XuatXu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HangSX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XuatXu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaHH">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaHH">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>