@model IEnumerable<ThietBiDienTu.Models.NhapKho>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<div class="w3-row">
    <h1>DANH SÁCH HÀNG NHẬP KHO</h1>
    <a class="w3-big w3-btn w3-round w3-border w3-teal" asp-action="Create">Nhập hàng</a>
    <a class="w3-big w3-btn w3-round w3-border w3-teal w3-right" asp-action="Download">Tải xuống danh sách</a>
</div>
<hr>
<table class="w3-container w3-table w3-striped w3-border w3-centered test w3-hoverable">
    <thead>
        <tr class="w3-teal">
            <th>Mã Hàng</th>
            <th>Số Lượng</th>
            <th>Ngày Nhập Kho</th>
            <th>Nhà Cung Cấp</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HangHoa.MaHH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhapKho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.MaNCC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNhapKho">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaNhapKho">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNhapKho">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr>
@using (Html.BeginForm("Index", "NhapKho", FormMethod.Get, new { id = "form1"}))
{
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page}),
                new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, 
                PageClasses = new string[] { "page-link" }})
        </div>
        <div class="col-md-1">
            @Html.DropDownList("pageSize", null, new {@class="form-select"})
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function()
    {
        $("#pageSize").change(function()
        {
            $("#form1").submit();
        });
    });
</script>
